In [4]:
import pandas as pd
import numpy as np

In [5]:
credits_df = pd.read_csv("dataset/tmdb_5000_credits.csv")
movies_df = pd.read_csv("dataset/tmdb_5000_movies.csv")

In [6]:
movies_df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [7]:
credits_df.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
merged_df = pd.merge(credits_df, movies_df, left_on= "movie_id", right_on="id")

In [9]:
merged_df.head(1)

,movie_id,title_x,cast,crew,budget,genres,homepage,id,keywords,original_language,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [10]:
final_df = merged_df[["original_title", "genres", "overview", "spoken_languages", "cast", "crew", "vote_average"]]

In [11]:
final_df.head()

,original_title,genres,overview,spoken_languages,cast,crew,vote_average
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.2
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.9
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bondâ€™s past sends him o...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",6.3
3,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",7.6
4,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",6.1

In [12]:
final_df.describe()

       vote_average
count   4803.000000
mean       6.092172
std        1.194612
min        0.000000
25%        5.600000
50%        6.200000
75%        6.800000
max       10.000000

In [13]:
final_df.count()

original_title      4803
genres              4803
overview            4800
spoken_languages    4803
cast                4803
crew                4803
vote_average        4803
dtype: int64

In [14]:
final_df.isna().sum()

original_title      0
genres              0
overview            3
spoken_languages    0
cast                0
crew                0
vote_average        0
dtype: int64

In [15]:
final_df.overview.isna().sum()

3

In [16]:
duplicate_values = final_df[final_df.duplicated(subset = "overview")]

In [17]:
duplicate_values

,original_title,genres,overview,spoken_languages,cast,crew,vote_average
4140,"To Be Frank, Sinatra at 100","[{""id"": 99, ""name"": ""Documentary""}]",NaN,[],"[{""cast_id"": 0, ""character"": ""Narrator"", ""cred...","[{""credit_id"": ""592b25e4c3a368783e065a2f"", ""de...",0.0
4431,Food Chains,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",[],"[{""credit_id"": ""5470c3b1c3a368085e000abd"", ""de...",7.4

In [18]:
#final_df.dropna() 
""" this will drop rows in the csv if any column in the row contains the nan values so that the data size may reduce so instead
of doing this we can find the data to fit in the nan place"""

' this will drop rows in the csv if any column in the row contains the nan values so that the data size may reduce so instead\nof doing this we can find the data to fit in the nan place'

In [19]:
final_df.loc[[4140], "overview"] = "To Be Frank: Sinatra at 100 is a documentary celebrating Frank Sinatra's life, highlighting his groundbreaking contributions to both music and film. It offers rare insights into his personal and professional journey, showcasing his lasting cultural impact. The film honors his legacy, marking what would have been his 100th birthday."

In [20]:
nan_in_overview = final_df[final_df["overview"].isna()]
nan_in_overview

,original_title,genres,overview,spoken_languages,cast,crew,vote_average
2656,Chiamatemi Francesco - Il Papa della gente,"[{""id"": 18, ""name"": ""Drama""}]",NaN,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]","[{""cast_id"": 5, ""character"": ""Jorge Mario Berg...","[{""credit_id"": ""5660019ac3a36875f100252b"", ""de...",7.3
4431,Food Chains,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",[],"[{""credit_id"": ""5470c3b1c3a368085e000abd"", ""de...",7.4

In [21]:
final_df.loc[[4431],"overview"] = "Food Chains is a documentary that exposes the harsh realities of the agricultural industry, focusing on the exploitation of farm workers in the United States. It follows the efforts of the Coalition of Immokalee Workers (CIW) in Florida, who fight for better wages and working conditions. The film highlights the power dynamics between large corporations and the migrant workers who supply the food we consume."

In [22]:
nan_in_overview = final_df[final_df["overview"].isna()]
nan_in_overview

,original_title,genres,overview,spoken_languages,cast,crew,vote_average
2656,Chiamatemi Francesco - Il Papa della gente,"[{""id"": 18, ""name"": ""Drama""}]",NaN,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]","[{""cast_id"": 5, ""character"": ""Jorge Mario Berg...","[{""credit_id"": ""5660019ac3a36875f100252b"", ""de...",7.3

In [23]:
final_df.loc[[2656],"overview"] = "Chiamatemi Francesco - Il Papa della gente is a biographical drama about Pope Francis' life, from his early years in Argentina to his papacy. The film highlights his humble origins, dedication to the poor, and commitment to reforming the Catholic Church. It showcases his deep compassion and focus on social justice."

In [24]:
final_df.isna().sum()

original_title      0
genres              0
overview            0
spoken_languages    0
cast                0
crew                0
vote_average        0
dtype: int64

In [25]:
final_df.head()

,original_title,genres,overview,spoken_languages,cast,crew,vote_average
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.2
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.9
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bondâ€™s past sends him o...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",6.3
3,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",7.6
4,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",6.1

In [26]:
final_df.loc[2]["genres"]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 80, "name": "Crime"}]'

In [27]:
import ast

def convert(text):
    values = []
    for i in ast.literal_eval(text):
        values.append(i["name"])
    return values

In [28]:
final_df["genres"] = final_df["genres"].apply(convert)

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\468331597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["genres"] = final_df["genres"].apply(convert)

In [29]:
final_df.loc[2]["spoken_languages"]

'[{"iso_639_1": "fr", "name": "Fran\\u00e7ais"}, {"iso_639_1": "en", "name": "English"}, {"iso_639_1": "es", "name": "Espa\\u00f1ol"}, {"iso_639_1": "it", "name": "Italiano"}, {"iso_639_1": "de", "name": "Deutsch"}]'

In [30]:
final_df["spoken_languages"] = final_df["spoken_languages"].apply(convert)

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\2813473226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["spoken_languages"] = final_df["spoken_languages"].apply(convert)

In [31]:
import ast

def convert_series(text):
    values = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter<3:
            values.append(i["name"])
        counter+=1
    return values

In [32]:
final_df["cast"] = final_df["cast"].apply(convert_series)

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\2212612881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["cast"] = final_df["cast"].apply(convert_series)

In [33]:
final_df.loc[2]["cast"]

['Daniel Craig', 'Christoph Waltz', 'LÃ©a Seydoux']

In [34]:
final_df["crew"] = final_df["crew"].apply(convert_series)
final_df.loc[2]["crew"]

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\3415606155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["crew"] = final_df["crew"].apply(convert_series)

['Thomas Newman', 'Sam Mendes', 'Anna Pinnock']

In [35]:
final_df["overview"] = final_df["overview"].apply(lambda x : x.split())

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\3570633705.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["overview"] = final_df["overview"].apply(lambda x : x.split())

In [36]:
final_df.head(3)

,original_title,genres,overview,spoken_languages,cast,crew,vote_average
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[English, EspaÃ±ol]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B...",7.2
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...",[English],"[Johnny Depp, Orlando Bloom, Keira Knightley]","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...",6.9
2,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bondâ€™s, past, send...","[FranÃ§ais, English, EspaÃ±ol, Italiano, Deutsch]","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[Thomas Newman, Sam Mendes, Anna Pinnock]",6.3

In [37]:
# method to remove the spaces in the cast, crew

def remove_spaces(words):
    list1 = []
    for i in words:
        list1.append(i.replace(" ",""))
    return list1

In [38]:
final_df["cast"] = final_df["cast"].apply(remove_spaces)

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\2103897537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["cast"] = final_df["cast"].apply(remove_spaces)

In [39]:
final_df["crew"] = final_df["crew"].apply(remove_spaces)

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\2289260844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["crew"] = final_df["crew"].apply(remove_spaces)

In [40]:
final_df["genres"] = final_df["genres"].apply(remove_spaces)

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\2283081084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["genres"] = final_df["genres"].apply(remove_spaces)

In [41]:
final_df.head(5)

,original_title,genres,overview,spoken_languages,cast,crew,vote_average
0,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[English, EspaÃ±ol]","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[StephenE.Rivkin, RickCarter, ChristopherBoyes]",7.2
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...",[English],"[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[DariuszWolski, GoreVerbinski, JerryBruckheimer]",6.9
2,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bondâ€™s, past, send...","[FranÃ§ais, English, EspaÃ±ol, Italiano, Deutsch]","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]","[ThomasNewman, SamMendes, AnnaPinnock]",6.3
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...",[English],"[ChristianBale, MichaelCaine, GaryOldman]","[HansZimmer, CharlesRoven, ChristopherNolan]",7.6
4,John Carter,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...",[English],"[TaylorKitsch, LynnCollins, SamanthaMorton]","[AndrewStanton, AndrewStanton, JohnLasseter]",6.1

In [42]:
final_df['tags'] = final_df['genres'] + final_df['overview'] + final_df['spoken_languages'] + final_df['cast'] + final_df['crew']

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\116132415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['genres'] + final_df['overview'] + final_df['spoken_languages'] + final_df['cast'] + final_df['crew']

In [43]:
final_df.loc[0]['tags']

['Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'English',
 'EspaÃ±ol',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'StephenE.Rivkin',
 'RickCarter',
 'ChristopherBoyes']

In [44]:
movies_df = final_df[['original_title', 'vote_average', 'tags']]

In [45]:
movies_df.head(3)

,original_title,vote_average,tags
0,Avatar,7.2,"[Action, Adventure, Fantasy, ScienceFiction, I..."
1,Pirates of the Caribbean: At World's End,6.9,"[Adventure, Fantasy, Action, Captain, Barbossa..."
2,Spectre,6.3,"[Action, Adventure, Crime, A, cryptic, message..."

In [46]:
# converting the list into strings in the tags
movies_df['tags'] = movies_df['tags'].apply(lambda x : " ".join(x))

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\627449117.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['tags'] = movies_df['tags'].apply(lambda x : " ".join(x))

In [47]:
movies_df.loc[2]['tags']

'Action Adventure Crime A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. While M battles political forces to keep the secret service alive, Bond peels back the layers of deceit to reveal the terrible truth behind SPECTRE. FranÃ§ais English EspaÃ±ol Italiano Deutsch DanielCraig ChristophWaltz LÃ©aSeydoux ThomasNewman SamMendes AnnaPinnock'

In [48]:
movies_df['tags'] = movies_df['tags'].apply(lambda x : x.lower())

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\3422350439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['tags'] = movies_df['tags'].apply(lambda x : x.lower())

In [49]:
# completed all the data pre processing steps and now we need to vectorize the data we use "counter vectorizer"
""" the counter vectorizer combines all the tags and make an big composition or big paragraph"""

' the counter vectorizer combines all the tags and make an big composition or big paragraph'

In [50]:
! pip install nltk

Requirement already satisfied: nltk in c:\users\sarve\venv\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\sarve\venv\lib\site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in c:\users\sarve\venv\lib\site-packages (from nltk) (1.5.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\sarve\venv\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\sarve\venv\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\sarve\venv\lib\site-packages (from click->nltk) (0.4.6)

In [51]:
import nltk
from nltk.stem import PorterStemmer

In [52]:
ps = PorterStemmer()

In [53]:
def stem(value):
    list1 = []
    for i in value.split():
        list1.append(ps.stem(i))
    return " ".join(list1)

In [54]:
movies_df['tags'] = movies_df['tags'].apply(stem)

C:\Users\sarve\AppData\Local\Temp\ipykernel_1616\2881018542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['tags'] = movies_df['tags'].apply(stem)

In [55]:
movies_df.iloc[20]['tags']

"action adventur fantasi peter parker is an outcast high schooler abandon by hi parent as a boy, leav him to be rais by hi uncl ben and aunt may. like most teenagers, peter is tri to figur out who he is and how he got to be the person he is today. as peter discov a mysteri briefcas that belong to hi father, he begin a quest to understand hi parents' disappear â€“ lead him directli to oscorp and the lab of dr. curt connors, hi father' former partner. as spider-man is set on a collis cours with connors' alter ego, the lizard, peter will make life-alt choic to use hi power and shape hi destini to becom a hero. english andrewgarfield emmaston rhysifan francinemaisl johnschwartzman pietroscalia"

In [56]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words="english")

In [57]:
vector = cv.fit_transform(movies_df['tags']).toarray()

In [58]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [59]:
vector.shape

(4803, 5000)

In [60]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [61]:
similarity

array([[1.        , 0.16329932, 0.13719887, ..., 0.02948839, 0.02948839,
        0.03202563],
       [0.16329932, 1.        , 0.10502101, ..., 0.06019293, 0.03009646,
        0.06537205],
       [0.13719887, 0.10502101, 1.        , ..., 0.05057217, 0.02528609,
        0.02746175],
       ...,
       [0.02948839, 0.06019293, 0.05057217, ..., 1.        , 0.06521739,
        0.04721922],
       [0.02948839, 0.03009646, 0.02528609, ..., 0.06521739, 1.        ,
        0.11804804],
       [0.03202563, 0.06537205, 0.02746175, ..., 0.04721922, 0.11804804,
        1.        ]])

In [62]:
similarity.shape

(4803, 4803)

In [63]:
movies_df[movies_df['original_title'] == 'Spectre']

,original_title,vote_average,tags
2,Spectre,6.3,action adventur crime a cryptic messag from bo...

In [64]:
def recommendation(movie_title):
    titles = final_df['original_title'].str.lower()

    if movie_title.lower() not in titles.values:
        print(f"'{movie_title}' not found. Did you mean:")
        matches = final_df[titles.str.contains(movie_title.lower(), na=False)]['original_title']
        for title in matches.head(5):
            print("  -", title)
        return

    movie_index = final_df[titles == movie_title.lower()].index[0]
    movie_list = sorted(list(enumerate(similarity[movie_index])), reverse=True, key=lambda x: x[1])

    print(f"\nTop 5 movies similar to '{movie_title}':\n")
    for movie in movie_list[0:5]:
        print(final_df.iloc[movie[0]].original_title)

In [65]:
import string
import difflib


def suggest(movie_title):
    translator = str.maketrans("","", string.punctuation)

    # removing the special characters(!,-,@, etc)
    #cleaned title in the final_df
    title = final_df['original_title'].str.lower()
    cleaned_title = title.str.translate(translator)

    #cleaned user input
    cleaned_input = movie_title.lower().translate(translator)
    

    matches = difflib.get_close_matches(cleaned_input, cleaned_title.values, n = 2,cutoff=0.5)

    if not matches:
        print(f"{movie_title} not found")
        return

    best_match = matches[0]

    movie_index = cleaned_title[cleaned_title == best_match].index[0]

    movie_list = sorted(
        list(enumerate(similarity[movie_index])),
                       key = lambda x : x[1],
                       reverse = True
                      
            )

    print(f"Top 5 Similar Movies")
    for movie in movie_list[1:6]:
        similar_movies = final_df.iloc[movie[0]]['original_title']
        print(similar_movies)

In [66]:
suggest("timeline")

Top 5 Similar Movies
The Specials
The Helix... Loaded
Detention
U.F.O.
Extreme Ops

In [67]:
"""movie_index = final_df[final_df['original_title'] == movie_title].index[0]
    movie_list = []
    
    for ids, simi in enumerate(similarity[movie_index]):
        movie_list.append((ids, simi))

    movie_list.sort(key=lambda x : x[1], reverse = True)
    
    print(f"top 5 movies related to {movie_title}")
    for i in movie_list[1:6]:
        movie_title = final_df.iloc[i[0]]['original_title']
        print(movie_title)"""

'movie_index = final_df[final_df[\'original_title\'] == movie_title].index[0]\n    movie_list = []\n    \n    for ids, simi in enumerate(similarity[movie_index]):\n        movie_list.append((ids, simi))\n\n    movie_list.sort(key=lambda x : x[1], reverse = True)\n    \n    print(f"top 5 movies related to {movie_title}")\n    for i in movie_list[1:6]:\n        movie_title = final_df.iloc[i[0]][\'original_title\']\n        print(movie_title)'

In [68]:
cv = CountVectorizer(max_features=5000, stop_words="english")

In [69]:
import pickle
# save the vectorizer
pickle.dump(cv, open("vectorizer.pkl", "wb"))

In [72]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [71]:
pickle.dump(final_df, open("movies.pkl", "wb"))