# 1. importing lib

In [1]:
import pandas as pd
import numpy as np

In [2]:
credits_df = pd.read_csv("D:/projects/movie_recommendation_system/movie_data/tmdb_5000_credits.csv")

In [3]:
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
movies_df = pd.read_csv("D:/projects/movie_recommendation_system/movie_data/tmdb_5000_movies.csv")

In [5]:
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
print("1.",movies_df.columns,"\n", "2.",credits_df.columns)

1. Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')
 2. Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

# 2. merging two data sets

In [7]:
merged_df = pd.merge(movies_df, credits_df, left_on="id", right_on="movie_id")

In [8]:
merged_df.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [9]:
merged_df.shape

(4803, 24)

In [10]:
merged_df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,movie_id
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989,57165.484281
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891,88694.614033
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,5.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000,9014.500000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000,14629.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000,58610.500000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000,459488.000000

In [11]:
merged_df.count()

budget                  4803
genres                  4803
homepage                1712
id                      4803
keywords                4803
original_language       4803
original_title          4803
overview                4800
popularity              4803
production_companies    4803
production_countries    4803
release_date            4802
revenue                 4803
runtime                 4801
spoken_languages        4803
status                  4803
tagline                 3959
title_x                 4803
vote_average            4803
vote_count              4803
movie_id                4803
title_y                 4803
cast                    4803
crew                    4803
dtype: int64

In [12]:
merged_df.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_x                    0
vote_average               0
vote_count                 0
movie_id                   0
title_y                    0
cast                       0
crew                       0
dtype: int64

In [13]:
merged_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'crew'],
      dtype='object')

In [14]:
merged_df.vote_average

0       7.2
1       6.9
2       6.3
3       7.6
4       6.1
       ...
4798    6.6
4799    5.9
4800    7.0
4801    5.7
4802    6.3
Name: vote_average, Length: 4803, dtype: float64

# 3. choosing only the req attributes

In [15]:
final_df = merged_df[["original_title", "genres", "spoken_languages", "overview", "cast", "vote_average","crew"]]

In [16]:
final_df

,original_title,genres,spoken_languages,overview,cast,vote_average,crew
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",7.2,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",6.9,"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",A cryptic message from Bondâ€™s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",6.3,"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",7.6,"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",6.1,"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4798,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",El Mariachi just wants to play his guitar and ...,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...",6.6,"[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],A newlywed couple's honeymoon is upended by th...,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...",5.9,"[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","""Signed, Sealed, Delivered"" introduces a dedic...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...",7.0,"[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,Shanghai Calling,[],"[{""iso_639_1"": ""en"", ""name"": ""English""}]",When ambitious New York attorney Sam is sent t...,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...",5.7,"[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Ever since the second grade when he first saw ...,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...",6.3,"[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

# 4. preprocessing the data

In [17]:
# final_df.dropna(inplace=True)

In [18]:
final_df.isna().sum()

original_title      0
genres              0
spoken_languages    0
overview            3
cast                0
vote_average        0
crew                0
dtype: int64

In [19]:
final_df.shape

(4803, 7)

In [20]:
final_df.overview.isna().sum()

3

In [21]:
duplicate_value = final_df[final_df.duplicated(subset=["overview"])]

In [22]:
# Duplicate Values in the overview column
duplicate_value

,original_title,genres,spoken_languages,overview,cast,vote_average,crew
4140,"To Be Frank, Sinatra at 100","[{""id"": 99, ""name"": ""Documentary""}]",[],NaN,"[{""cast_id"": 0, ""character"": ""Narrator"", ""cred...",0.0,"[{""credit_id"": ""592b25e4c3a368783e065a2f"", ""de..."
4431,Food Chains,"[{""id"": 99, ""name"": ""Documentary""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]",NaN,[],7.4,"[{""credit_id"": ""5470c3b1c3a368085e000abd"", ""de..."

# removing the dupilcate values

In [23]:
final_df.loc[[4140], "overview"] = " 'To Be Frank: Sinatra at 100' is a 2015 documentary that celebrates the centennial of Frank Sinatraâ€™s birth (born December 12, 1915). This BBC production offers a deep and intimate look at Sinatra's life, legacy, and influence on 20th-century music and culture."

In [24]:
final_df.loc[[4431], "overview"] = "Food Chains (2014) is a compelling documentary directed by Sanjay Rawal that delves into the exploitation of farmworkers in the United States, particularly focusing on the tomato industry in Florida. The film highlights the systemic issues of wage theft, physical abuse, and modern-day slavery faced by farm laborers, shedding light on the darker side of America's agricultural system."

In [25]:
final_df.isna().sum()

original_title      0
genres              0
spoken_languages    0
overview            1
cast                0
vote_average        0
crew                0
dtype: int64

In [27]:
nan_row_in_overview = final_df[final_df["overview"].isna()]
print(nan_row_in_overview)

                                  original_title  \
2656  Chiamatemi Francesco - Il Papa della gente

                             genres  \
2656  [{"id": 18, "name": "Drama"}]

                                   spoken_languages overview  \
2656  [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]      NaN

                                                   cast  vote_average  \
2656  [{"cast_id": 5, "character": "Jorge Mario Berg...           7.3

                                                   crew
2656  [{"credit_id": "5660019ac3a36875f100252b", "de...

In [28]:
print(final_df.loc[2656])

original_title             Chiamatemi Francesco - Il Papa della gente
genres                                  [{"id": 18, "name": "Drama"}]
spoken_languages        [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]
overview                                                          NaN
cast                [{"cast_id": 5, "character": "Jorge Mario Berg...
vote_average                                                      7.3
crew                [{"credit_id": "5660019ac3a36875f100252b", "de...
Name: 2656, dtype: object

In [29]:
final_df.loc[[2656], "overview"] = "'Chiamatemi Francesco â€“ Il Papa della gente' (English: Call Me Francis â€“ The Peopleâ€™s Pope) is a 2015 Italian biographical drama film directed by Daniele Luchetti. The film tells the story of Jorge Mario Bergoglio, who later becomes Pope Francis, the first pope from the Americas and the first Jesuit pope."

In [30]:
final_df.isna().sum()

original_title      0
genres              0
spoken_languages    0
overview            0
cast                0
vote_average        0
crew                0
dtype: int64

In [31]:
final_df.dtypes

original_title       object
genres               object
spoken_languages     object
overview             object
cast                 object
vote_average        float64
crew                 object
dtype: object

In [32]:
final_df.iloc[26]['genres']

'[{"id": 12, "name": "Adventure"}, {"id": 28, "name": "Action"}, {"id": 878, "name": "Science Fiction"}]'

# Changing the json like files to list

In [33]:
import ast

def convert_to_list(text):
    values = []
    for i in ast.literal_eval(text):
        values.append(i["name"])
    return values

In [34]:
final_df["genres"] = final_df["genres"].apply(convert_to_list)

C:\Users\sarve\AppData\Local\Temp\ipykernel_11656\1627305854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["genres"] = final_df["genres"].apply(convert_to_list)

In [35]:
final_df['spoken_languages'] = final_df['spoken_languages'].apply(convert_to_list)

C:\Users\sarve\AppData\Local\Temp\ipykernel_11656\1059080438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['spoken_languages'] = final_df['spoken_languages'].apply(convert_to_list)

In [36]:
import ast

def convert_cast(text):
    counter = 0
    values = []
    for i in ast.literal_eval(text):
        if counter < 3:
            values.append(i["name"])
        counter+=1
    return values

In [37]:
final_df['cast'] = final_df['cast'].apply(convert_cast)

C:\Users\sarve\AppData\Local\Temp\ipykernel_11656\3875249821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['cast'] = final_df['cast'].apply(convert_cast)

In [38]:
import ast

def collect_director_name(text):
    values = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            values.append(i['name'])
            break
    return values

In [39]:
final_df['crew'] = final_df['crew'].apply(collect_director_name)

C:\Users\sarve\AppData\Local\Temp\ipykernel_11656\782429328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['crew'] = final_df['crew'].apply(collect_director_name)

In [40]:
final_df.loc[3]['crew']

['Christopher Nolan']

In [463]:
final_df.head()

,original_title,genres,spoken_languages,overview,cast,vote_average,crew
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[English, EspaÃ±ol]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",7.2,[James Cameron]
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[English],"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",6.9,[Gore Verbinski]
2,Spectre,"[Action, Adventure, Crime]","[FranÃ§ais, English, EspaÃ±ol, Italiano, Deutsch]",A cryptic message from Bondâ€™s past sends him o...,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",6.3,[Sam Mendes]
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[English],Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]",7.6,[Christopher Nolan]
4,John Carter,"[Action, Adventure, Science Fiction]",[English],"John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",6.1,[Andrew Stanton]

In [42]:
final_df.rename(columns={"crew":"Director"}, inplace=True)

C:\Users\sarve\AppData\Local\Temp\ipykernel_11656\3828292358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.rename(columns={"crew":"Director"}, inplace=True)

In [43]:
final_df.head(1)

,original_title,genres,spoken_languages,overview,cast,vote_average,Director
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[English, EspaÃ±ol]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",7.2,[James Cameron]

In [45]:
final_df["overview"] = final_df["overview"].apply(lambda x : x.split())

C:\Users\sarve\AppData\Local\Temp\ipykernel_11656\3570633705.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["overview"] = final_df["overview"].apply(lambda x : x.split())